.container{
    width: 900px;
    background-color: bisque;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.header{
    height: 150px;
    background-color: deepskyblue;

}
.main{
    display: flex;
    margin-top: 10px;
    column-gap: 10px;
}
.m-left{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 35%;
    row-gap: 10px;
}
.m-left-one{
    height: 250px;
    background-color: pink;
}
.m-left-two{
    height: 350px;
    background-color: darksalmon;
}
.m-right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 65%;
    row-gap: 10px;
}
.m-right-one{
    height: 450px;
    background-color: orange;
}
.m-right-two{
    height:150px;
    background-color: blue;
}
.m-bot{
    margin-top: 10px;
    height: 150px;
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
}
.m-bot-left{
    width: 70%;
    background-color: black;
}
.m-bot-right{
    width: 30%;
    background-color: cadetblue;
}
.footer {
    margin-top: 10px;
    height: 100px;
    background-color: darksalmon;
}
